
bokeh==2.4.3
Boruta==0.3
db-dtypes==1.0.4
patsy==0.5.3
jupyter>=1.0.0
matplotlib>=1.5.1
notebook>=4.1.0
numpy>=1.10.4
pandas==1.4.4
seaborn>=0.7.0
pytest>=2.9.2
numpy
missingno==0.5.1
keras==2.10.0
pandas
matplotlib
watermark
statsmodels
scikit-learn
scipy
nbdime
nltk==3.7
runipy
scikit-image==0.19.3
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.9.3
seaborn==0.11.2
spacy==2.3.9
squarify==0.4.3
streamlit==1.11.1
xgboost==1.6.2